# Google Drive API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Dosya işleme
pandas
openpyxl
python-docx
PyPDF2
Pillow

# Web sunucusu
flask
gunicorn

# Zamanlayıcı
APScheduler
pytz
